.charts-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart-container {
  width: 45%;
  margin-bottom: 20px;
}

select {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
