/* ChartToggle.css */

.chart-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; /* Reduced width */
  background: linear-gradient(145deg, #1b1b1b, #292929);
  padding: 25px; /* Reduced padding */
  margin: 50px; /* Adjusted margin */
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 15px; /* Slightly smaller border radius */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Smaller shadow */
  transition: transform 0.3s ease;
  position: relative; /* Added for positioning */
}

.chart-toggle-container:hover {
  transform: scale(1.02);
}

.chart-header {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.dropdowns-container {
  display: flex;
  flex-direction: column;
}

.chart-toggle-dropdown {
  margin-bottom: 15px; /* Reduced margin */
}

.chart-toggle-dropdown select {
  margin-left: 5px; /* Smaller margin */
  padding: 8px; /* Reduced padding */
  font-size: 14px; /* Decreased font size */
  background-color: #ff3b57;
  color: white;
  border: none;
  border-radius: 8px; /* Smaller border radius */
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(255, 59, 87, 0.5); /* Reduced shadow */
  transition: background-color 0.3s ease;
}

.chart-toggle-dropdown select:hover {
  background-color: black;
}

.rollup-filters {
  margin-bottom: 15px; /* Reduced margin */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.rollup-filters label,
.rollup-filters input {
  margin-right: 8px;
}

.rollup-filters input {
  padding: 8px; /* Smaller padding */
  font-size: 12px; /* Smaller font size */
  background-color: #292929;
  border: none;
  border-radius: 5px;
  color: white;
}

.rollup-filters label {
  font-size: 12px; /* Smaller font size */
  color: white;
}

.rollup-filters input[type="number"] {
  width: 70px; /* Smaller width */
  text-align: center;
}

.chart-wrapper {
  width: 100%;
  max-width: 600px; /* Reduced max width */
  height: 480px; /* Set fixed height for all charts */
  margin: 20px; /* Reduced margin */
  padding: 20px; /* Reduced padding */
  background: linear-gradient(145deg, #1e1e1e, #2e2e2e);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); /* Adjusted shadow */
  position: relative;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.download-icon {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin-top: 10px;
}

.download-icon:hover {
  color: #ff3b57;
}

@media (max-width: 768px) {
  .chart-toggle-container {
    width: 90%;
  }

  .chart-wrapper {
    margin: 15px; /* Further reduced margin */
    padding: 15px; /* Further reduced padding */
  }

  .rollup-filters input[type="number"] {
    width: 60px;
  }
}
