/* App.css */
body {
  font-family: "Arial", sans-serif;
  background-color: black;
  color: #ff3b57;
}

h1 {
  font-family: "Orbitron", sans-serif; /* Apply Orbitron font */
  font-size: 48px; /* Increase the font size */
  text-align: center;
  padding: 20px 0;
  color: #ff3b57;
  text-transform: uppercase; /* Make the heading uppercase for emphasis */
  letter-spacing: 2px; /* Add some spacing between letters */
  border-bottom: 3px solid #ff3b57; /* Add an underline to make it more terminal-like */
}

button,
select {
  background-color: #ff3b57;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
select:hover {
  background-color: white;
  color: #ff3b57;
}
